<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
</head>
<body>
    <h1>ログイン画面</h1>
    <h2>メンバーIDを入力してください</h2>
    <ul>
        <li>存在するユーザIDのみ受け付けます</li>
    </ul>
    <form role="form" th:action="@{/login}" th:object="${MemberForm}" method="get">
        <table>
            <tr>
                <td><label>メンバーID: </label></td>
                <td><input type="text" required th:name="mid" /></td>
            </tr>
        </table>
        <p><input type="submit" value="Login" /></p>
    </form>
</body>
</html>